/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-sizing";
@import "susy";
@import "compass/typography/links/link-colors";

* {
    @include box-sizing(border-box);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 50pt;
}

h2 {
    font-size: 40pt;
}

h3 {
    font-size: 30pt;
}

h4 {
    font-size: 20pt;
}

h5 {
    font-size: 10pt;
}

p {
    padding: 10px;
}

.container {
    $total-columns: 7;
    $column-width: 4.25em;
    $gutter-width: 1em;
    $grid-padding: $gutter-width;
    @include container;
}

.navbar {
    @include span(100%);
    background: #0c0c0c;
    height: 50px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            color: white;
            display: inline-block;

            padding: 0;
            margin: 0;

            height: 50px;
            border-bottom: 2px solid darken(#3ea5ec, 40%);
            border-right: none;
            border-spacing: none;

            text-align: center;

            min-width: 120px;

            padding: 20px;

            color: darken(white, 80%);

            letter-spacing: 1px;
        }

        li.active {
            border-bottom: 2px solid #3ea5ec;
            font-weight: bold;

            background: darken(#3ea5ec, 50%);

            color: white;

            letter-spacing: inherit;
        }
    }
}

.blog-post {
    @include span(100%);
    margin: 10px;
    padding: 10px;
    border: 4px solid #CEC;

    float: left;
}

.blog-header {
    width: 100%;
    float: left;
    height: 300px;

    background: url(assets/default.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;

    .inner-bg {
        h1 {
            padding-top: 185px;
            color: white;
        }
        small {
            color: white;
            letter-spacing: 1px;
            padding-top: 10px;
            font-size: 8pt;

            height: 20px;
            border-bottom: 1px solid #FFF;
        }
        background: linear-gradient(
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.8)
        );
        height: 300px;
    }

}