/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-sizing";
@import "susy";
@import "breakpoint";
@import "compass/typography/links/link-colors";
@import "compass/typography/vertical_rhythm";
@import "compass/layout";

@import "builtins";
@import "variables";
@import "partials/_blogheader";
@import "partials/_navbar";

* {
    @include box-sizing(border-box);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;

    margin-top: $navbar-height;
}


.container {
    $total-columns: 7;
    $column-width: 4.25em;
    $gutter-width: 1em;
    $grid-padding: $gutter-width;
    @include container;
}

.blog-post {
    float: left;
    margin: 20px;


    p {
        font-size: 1em;
        font-weight: 300;
        line-height: 1.65em;


        a {
            font-weight: bold;
            text-decoration: none;
            color: darken($navbar-active, 20%);
        }
    }
}

::selection {
  background: $navbar-active;
}

strong {
    font-weight: bold;
}

.footer {
    background: #1A1A1A;
    font-weight: 350;

    padding: 30px;

    .theme-text {
        color: #3A3A3A;
        float: left;

        a {
            @include link-colors(#5A5A5A, true, true, true);
            text-decoration: none;
        }
    }

    .copyright-text {
        color: #FFFFFF;
        float: right;
    }

    height: 75px;
}

i {
    font-style: italic;
}

.separator {
    border-bottom: 1px solid #F3F3F3;
    width: 100%;
    height: 1px;

    padding: 15px;

}

small {
    font-size: 8pt;
    font-weight: bold;
    text-transform: uppercase;
}