.blog-header {
    @include span(100%);

    background: url(/assets/default.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 300px;

    overflow: hidden;

    color: white;

    .inner {
        @include span(100%);

        height: 300px;

        content: " ";

        background: linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.9)
        );

        padding-top: 150px;

        h1 {
            margin-bottom: 15px;
        }

        text-align: center;
    }
}